@import url(//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Sigmar+One);

.user-photo {
  height: 50px;
  width: 50px;
  margin-right: 15px;
}
.navbar-brand {
  font-family: Sigmar One;
  font-size: 175%;
}
input {
  width: 100%;
  padding: 5px;
  margin-top: 20px;
}
.modal-body {
  text-align: center;
}
.remove-photo {
  margin-top: 13px;
  margin-bottom: 14px;
}
.specific-user {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid;
  border-color: darkgrey;
  margin-top: 5px;
  margin-bottom: 5px;
}
.grid {
  margin-left: 10px;
}
.grid-sizer, .grid-item {
  width: 19%;
}
.grid-item {
  float: left;
  border: 2px solid;
  border-color: darkgrey;
  text-align: center;
  margin-bottom: 10px;
}
#photo-placeholder, .small-photo {
  width: 100%;
}
